
@model MVC_1.Models.ViewModels.VistaPedidos

@*@*@*@{
    ViewBag.Title = "NuevoPedido";
}

<h2>Nuevo Pedido</h2>
<h3>@ViewBag.Mensaje</h3>
<h3>@ViewBag.Error</h3>

@using (Html.BeginForm("NuevoPedido", "Pedidos", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
      
        <div class="form-group">
            @Html.LabelFor(model => model.Cliente.ClienteID, "ClienteID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ClienteID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Cliente. ClienteID, "", new { @class = "text-danger" })
            </div>
        </div>

 @Html.ActionLink("Agrega Producto", "AgregarPedido", new { },new {@class="btn btn-primary" })
 <input type="submit" value="Salvar Pedido" class="btn btn-success" />
        
    </div>
}

<h2>DETALLES DE PEDIDOS</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Producto.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Producto.Precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Producto.Cantidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Producto.valor)
        </th>

        <th></th>
    </tr>

    @for (int i = 0; i < Model.Productos.Count; i++)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => Model.Productos[i].Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Productos[i].Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Productos[i].Cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Productos[i].valor)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = Model.Productos[i].id }) |

                @Html.ActionLink("Delete", "Delete", new { id = Model.Productos[i].id })
            </td>
        </tr>
    }
</table>
