@model MVC_1.Models.ViewModels.VistaPedidos
@{
    ViewBag.Title = "NuevoPedido";
}

<h2>Nuevo Pedido</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
      
        <div class="form-group">
            @Html.LabelFor(model => model.Cliente.ClienteID, "ClienteID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ClienteID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Cliente. ClienteID, "", new { @class = "text-danger" })
            </div>
        </div>



        @Html.ActionLink("Agrega Producto", "AgregarPedido", new { },new {@class="btn btn-primary" })

                <input type="submit" value="Create" class="btn btn-default" />
   >
    </div>
}
