@model MVC_1.Models.ViewModels.VistaPedidos
@{
    ViewBag.Title = "NuevoPedido";
}

<h2>Nuevo Pedido</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
      
        <div class="form-group">
            @Html.LabelFor(model => model.Cliente.ClienteID, "ClienteID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ClienteID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Cliente. ClienteID, "", new { @class = "text-danger" })
            </div>
        </div>

  

 @Html.ActionLink("Agrega Producto", "AgregarPedido", new { },new {@class="btn btn-primary" })
 <input type="submit" value="Create" class="btn btn-default" />

    </div>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaUltimaCompras)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bodega)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comentario)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaUltimaCompras)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bodega)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comentario)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                @Html.ActionLink("Details", "Details", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </td>
        </tr>
</table>
